@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Roboto:300,400,500,700&display=swap');
html{
font-size: 62.5%;
}
body{
margin:0;
padding: 0;
overflow-x: hidden;
}
h2{
padding: 8rem 0rem 8rem 0rem;
text-align: center;
font-family:  'Roboto', sans-serif;
font-weight: 700 !important;
font-size: 3.6rem !important;
}
/**************start header cssar***************/
.header-top{
background: #FEF7F6;
padding: 2rem 0rem;
font-family: 'Roboto', sans-serif;
font-weight: 200;
}
.navbar{
padding: 20px 137px!important;


}
#nav{
	position: sticky;
top: 0;
background: #fff;
z-index: 999999999999999999999999999999999999999;
display: block;
}
.header-top span{
font-size: 1.2rem;
padding: .5rem;
}
.main-nav{
padding-left: 25rem !important;
font-size: 2rem;
}
.main-nav li a{
font-family: 'Roboto', sans-serif;
color: black!important;
text-transform: uppercase;
font-size: 1.3rem;
font-weight: 600;
margin:0.5rem;
}
.main-nav a:hover{
color: red;
transition: 0.5s;
}
.icons{
padding-right: 2.7rem !important;
}
.icon{
padding-right: 1em !important;
}
.navbar .icon {
position: relative;
padding: ;
}
.item-counter{
position: absolute;
top: 0;
color: white;
background: red;
height: 1.6rem;
width: 1.6rem;
text-align: center;
font-size: 0.8rem;
font-weight: 400;
border-radius: 50%;
padding-bottom: 0.1rem;
}
.main-bg{
background: linear-gradient(rgba(226,147,140),rgba(246,198,194));
}
.banner-content{
padding-top: 15rem !important;
padding-bottom: 10rem;
float: right;
}
.banner-content h6{
font-size: 1.5rem;
color: #565656;
letter-spacing: 0.5rem;
font-family:'Roboto', sans-serif;
padding-bottom: 1rem;
}
.banner-content h1{
font-size: 5.8rem;
font-weight: 600;
font-family:'Roboto', sans-serif;
color: black;
padding-left: 2rem!important;
line-height: 7rem;
padding-bottom: 5rem;
}
.banner-content button{
padding-top: 2rem!important;
}
.banner-content .btn-banner{
padding: 1.4rem 6.5rem  !important;
font-family: 'Roboto', sans-serif !important;
font-size: 1.4rem !important;
background: #ff5353;
color: white;
font-weight: 600;
text-transform: uppercase;
border-radius: 10px!important;
box-shadow: none!important;
}
.btn-banner:hover{
background: white;
color: blue!important;
transition: 0.5s;
}
/**************End header cssar***************/
/**************start featured css***************/
.featured{
	padding-bottom: 6rem;
}
.product-item{
text-align: center;
}
.product-item:hover .action-links{
opacity: 1;
margin-top: 90%;
transition: 0.3s;
}
.action-links a:hover{
background: red!important;
color: white!important;
transition: 0.3s;
}


.product-img{
position: relative;
}
.action-links{
position: absolute;
top: 0;
left: 50;
margin-top: 100%;
margin-left:25%;


opacity: 0;

}

.action-links a{
color:black!important;
padding: 1.5rem 1.5rem;
border-radius: 50%;
font-size: 2rem;
border: none;
}
.product-info{
	margin-top: 3rem;
}
.product-name h5,a{
	color: gray!important;
	font-size: 1.4rem;
	font-family:'Roboto', sans-serif;
	text-decoration: none!important;

}
.product-name h5:hover{
	color: red!important;
	transition: 0.3s;
}
.product-ratings a i{
	color: red !important;
}
.product-info p{
	font-size: 1.8rem;
	font-family:'Roboto', sans-serif;
	color: black;
	padding-top: 1.5rem;
	font-weight: 600;
} 


/**************end featured css***************/

/**************start banner2 css***************/

.banner-2{
	background: #EAE2D8;
}
.banner-info{
	text-align: center;
	margin-top: 20%;
	float: right;

}
.banner-info h1{
	font-size: 5.8rem;
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	padding-bottom: 3.3rem;
}
.banner-info h4{
	font-size: 2.4rem;
		font-family:'Roboto', sans-serif;

letter-spacing: 0.4rem;
color: black;
padding-bottom: 4.4rem;
font-weight: 200;

}
.banner-info button{
padding-top: 2rem!important;
}
.banner-info .btn-banner{
padding: 1.4rem 6.5rem  !important;
font-family: 'Roboto', sans-serif !important;
font-size: 1.4rem !important;
background: #ff5353;
color: white;
font-weight: 600;
text-transform: uppercase;
border-radius: 10px!important;
box-shadow: none!important;
}
.btn-banner:hover{
background: white;
color: blue!important;
transition: 0.5s;
}
.product-item:hover .action-links-2{
opacity: 1;
margin-top: 90%;
transition: 0.3s;
}
.action-links-2 a:hover{
background: red!important;
color: white!important;
transition: 0.3s;
}


.product-img{
position: relative;
}
.action-links-2{
position: absolute;
top: 0;
left: 50;
margin-top: 100%;
margin-left:18%;


opacity: 0;

}

.action-links-2 a{
color:black!important;
padding: 1.5rem 1.5rem;
border-radius: 50%;
font-size: 2rem;
border: none;
}

/**************End banner2 css***************/
/**************start feature css**************/
.feature{
	padding: 10 rem 0rem;
}
.featurebox{
	border: 1px solid #ebeef0;
	text-align: center;
	padding: 2.5rem;
	/*padding-top: 3rem;
	padding-bottom: 3rem;*/
}
.feature-img{
	
	padding-bottom: 3rem;
}

.feature-info h4{
	font-size: 1.5rem;
	font-family:'Roboto', sans-serif;
	color: black;
	padding-bottom: 0.4rem;

}
.feature-info p{
	font-size: 1.4rem;
	font-family:'Roboto', sans-serif;
	color: ##888;


}

/**************end feature css***************/
/**************start journal css***************/
.journal{
	padding-bottom: 10rem;
}
.journal-img{
	padding-bottom: 3rem;
}
.journal-info .date:before{
	content: "";
	background: red;
	height:1rem;
	width: 2rem;
	position: absolute;
	left: 15px;
	border-radius: 3px;
	bottom: 128px;


}

.journal-info a:hover{
	color: red!important;
}
.date{
	padding-left: 3rem;
}
.info{
	color: black!important;
	font-size: 2rem;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	padding-bottom: 2rem;
}
.Comments{
	padding-left: 12rem;
}
/**************end journal css***************/
/**************start follow css***************/
.follow{
	padding-bottom: 5rem;
}
.follow a{
	position: relative;
	overflow: hidden;
	display: block;
}
.follow i{
    position: absolute;
    color: white;
    font-size: 5rem;
   
    left: 40%;
    top: 45%;
    z-index: 99999;
    opacity: 0;
}
.follow a:hover i{
	opacity: 1;
	transition: 0.3s;
}
.follow a:before{
	content: "";
	position: absolute;
	height: 80%;
	width: 100%;
	bottom: 0;

	background: #FE7680;
	opacity: 0;
	z-index: 99999;
	transition: 0.3s;
}
.follow a:hover:before{
	opacity: 0.8;
	height: 100%;


}
/**************End follow css***************/
/**************start about css***************/
.about h3{
	padding-bottom: 1.5rem;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;

}

.about{
	background: #E9E2D8;

}
.about .row{
	padding: 10rem 0rem;
}
.abt-btn{
	background: #fff !important;
	padding: 2rem;
}
.abt-btn i{
	font-size: 2rem;
	text-align: left!important;
	padding-top: 0.5rem;
	color: red;
}

.abt-icon{
	float: left;

}
.abt-info{
	    padding: 0rem 1rem;
    display: inline-block;
    color: black!important;
    font-family: 'Roboto', sans-serif!important;
        font-weight: 600;
}
.abt-info span{
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}
.abt-info p{
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}
.about h4{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.about a:hover{
	color: red!important;
	transition: 0.3s;

}


.social-icons i{
	margin-right: 2rem;
	background: white;
	font-size: 3rem;
	padding: 1rem;
	color: black;
}
.social-icons i:hover{
	color: white;
	background: red;
	transition: 0.3s;

}
.footer{
	font-size: 1.5rem;
	color: gray;
	padding-bottom: 3rem;
}

/**************End about css***************/
